facePay/node_modules/*
visualization/.svn/*
visualization/node_modules/*
.DS_Store
node_modules/
dist/
*.zip
koa-tangsong/public/tangsongimg
koa-tangsong/config.js
koa-tangsong/mongoset.js
koa-tangsong/set.txt
tangsong/.nuxt
tangsong/.nuxt/*
/tangsong/.nuxt/*
.nuxt
proxy.js

